body {
    background: rgb(207, 207, 255);
    text-align: center;
    padding-top: 2%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3rem;
    font-weight: bold;
}

button {
    height: 70px;
    width: 200px;
    border: solid 4px black;
    font-size: 3rem;
    margin: 10px;
    cursor: pointer;
}

.reset {
    width: 400px;
}