select {
    min-width: 165px;
}

textarea {
    min-height: 200px;
}

.btn {
    margin: 10px 0;
    padding: 5px;
    min-width: 165px;
}

.clear {
    clear: both;
}

.contenedor {
    float: left;
}

.caja {
    min-height: 115px;
    border-bottom: 4px solid grey;
    max-width: 340px;
}

.linea {
    border-bottom: 4px solid grey;
    max-width: 340px;
}

.logo {
    float: left;
    margin: 20px;
}

.tituloPrincipal {
    float: left;
    max-width: 200px;
}

#equipos {
    min-height: 350px;
    min-width: 340px;
}