select {
    min-width: 175px;
}

textarea {
    min-height: 200px;
}

.btn {
    margin: 10px 0;
    padding: 5px;
    min-width: 175px;
}

.clear {
    clear: both;
}

.contenedor {
    float: left;
}

.logo {
    float: left;
    margin: 20px;
}

.tituloPrincipal {
    float: left;
    max-width: 200px;
}

#equipos {
    min-height: 350px;
    min-width: 350px;
}